---
---

@import 'base';

.intro-header {
  background: $brand-primary !important;
}

.inner-page-nav {
  text-align: center;

  ul {
    // display: flex;
    list-style-type: none;
    padding: 0;
    li {
      display: inline-block;

    }
  }
  a {
    padding: 20px;
  }
}

.icon {
  height: 35px;
  float: left;
  margin-right: 9px;
}

.copyleft {
	display: inline-block;
	transform: rotate(180deg);
}
