---
---

@import 'base';

.intro-header {
  // background: $brand-primary !important;
  background-size: cover;
  margin-bottom: 20px;
  height: 100vh;
}

.inner-page-nav {
  text-align: center;

  ul {
    // display: flex;
    list-style-type: none;
    padding: 0;
    li {
      display: inline-block;

    }
  }
  a {
    padding: 20px;
  }
}

#download {
  text-align: center;
  a:hover {
    text-decoration: none;
  }
}

#resume {
  // potential combinations
  // #6f8284 #646e73 #527d80 #a6b0b5
  $header-color: $brand-primary;
  .icon {
    float: left;
    margin-right: 9px;
    color: #FFF;
    background: $header-color;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    font-size: 20px;
    padding-top: 8px;
  }
  h2 {
    color: $header-color;
  }
  h3, h4, h5, h6 {
    color: #646e73;
  }
  p {
    margin: 0 0 10px;
  }
  ul {
    padding-left: 0;
    margin-left: 20px;
  }
}

@media screen and (min-width: 500px){
  #resume {
    margin-left: 45px;
    .icon {
      position: absolute;
      left: 15px;
    }
  }
}

.copyleft {
	display: inline-block;
	transform: rotate(180deg);
}
