---
---

@import 'base';

.intro-header {
  background: $brand-primary !important;
}

.inner-page-nav {
  text-align: center;

  ul {
    // display: flex;
    list-style-type: none;
    padding: 0;
    li {
      display: inline-block;

    }
  }
  a {
    padding: 20px;
  }
}

.about-img {
  height: 180px;
  border-radius: 50%;
  margin: 0 auto;
}

.copyleft {
	display: inline-block;
	transform: rotate(180deg);
}
