body {
  background: linear-gradient(-21deg, #3c3c59, #232332);
  color: white;
  font-family: 'Raleway', sans-serif;
  perspective: 800px;
  margin: 0;
  display: grid;
  /* grid-template-rows: 45vh 45vh 10vh 90vh; */
  grid-template:
    "image" 45vh
    "header" 45vh
    "nav" 10vh
    "about" 90vh;
  /* grid-template:"image header" "nav nav" "about about"; */
}

/* BEM? Where we're going, we don't need BEM... 🔥🔥*/
h1 {
  font-family: 'Kanit', sans-serif;
  font-size: 2.6rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

h1 span {
  color: #ffd9a5;
  padding-left: 0.1em;
  font-style: italic;
}

h2, h3 {
  margin: 0.2rem 0;
}

button {
  font-size: 1rem;
}

p {
  line-height: 1.5rem;
  margin: 0 auto;
  width: 90vw;
}

section {
  grid-area: image;
  margin: auto;
}

header {
  grid-area: header;
  margin: auto;
  text-align: center;
}

#spaceman svg {
  height: 50vh;
}

@media(orientation: landscape) {
  body {
    grid-template:
      "image header" 80vh
      "nav nav" 20vh
      "about about" 80vh;
  }
  #spaceman svg {
    height: 40vw;
  }

}

@media (min-width: 600px) {
  h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 3.5vw;
  }
  button, p {
    font-size: 2.5vw;
    line-height: 3vw;
  }
}

/* @media (orientation: landscape) and (min-width: 600px) {
  h1 {
    font-size: 6vw;
  }
  h2 {
    font-size: 3.5vw;
  }
  button, p {
    font-size: 2.5vw;
    line-height: 3vw;
  }
}

@media (orientation: portrait) and (min-width: 410px) {
  h1 {
    font-size: 10vw;
  }
  h2 {
    font-size: 6vw;
  }
  button, p {
    font-size: 4vw;
    line-height: 5vw;
  }
} */

.about {
  grid-area: about;
  display: grid;
  align-items: center;
}

a, button {
  background: none;
  border: none;
  color: white;
  text-decoration: underline;
  cursor: pointer;
  color: #E4F4E5;
}

a:hover, button:hover {
  color: #ffd9a5;
}

button {
  padding: 15px;
  margin-top: 1vw;
  font-family: 'Questrial', sans-serif;
}

.radiation {
  animation: radiation 0.8s infinite;
}

.radiation.medium {
  animation-delay: 0.1s;
}
.radiation.large {
  animation-delay: 0.2s;
}

@keyframes radiation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
  }
}

#spaceman {
  transform-style: preserve-3d;
  animation: float 7s infinite cubic-bezier(0.42, 0.43, 0.46, 0.67);
}

@keyframes float {
  0% {
    transform: rotateX(-4deg) rotateY(0deg) rotateZ(0deg) translateZ(-100px);
  }
  25% {
    transform: rotateX(0deg) rotateY(-8deg) rotateZ(-1deg) translateZ(-100px);
  }
  50% {
    transform: rotateX(4deg) rotateY(0deg) rotateZ(0deg) translateZ(-100px);
  }
  75% {
    transform: rotateX(0deg) rotateY(4deg) rotateZ(1deg) translateZ(-100px);
  }
  100% {
    transform: rotateX(-4deg) rotateY(0deg) rotateZ(0deg) translateZ(-100px);
  }
}

.socially-distant-media {
  grid-area: nav;
  display: grid;
  align-items: center;
  justify-content: space-evenly;
  grid-template-columns: repeat(5, 20vw);
}

.socially-distant-media a {
  display: block;
  margin: auto;
  width: 2.2rem;
  cursor: pointer;
}

@media (min-width: 900px) {
  .socially-distant-media a {
    width: 4vw;
  }
}

.socially-distant-media svg {
  fill: #E4F4E5;
}

.socially-distant-media a:hover svg {
  fill: #ffd9a5;
}