---
layout: page
title: "Jon Oliver"
description: "Software Developer"
---
<div class="inner-page-nav">
  <ul>
    {% for section in site.data.resume %}
      <li><a href="#{{ section.name | downcase }}">{{ section.name }}</a></li>
    {% endfor %}
  </ul>
</div>
{% for section in site.data.resume %}
  <section id="{{ section.name | downcase }}">
    <img class='icon' src="/img/resume/{{section.icon}}.svg" alt="section.icon">
    <h2>{{ section.name }}</h2>
    {% capture section_layout %}resume/{{section.layout}}.html{% endcapture %}
    {% include {{section_layout}} %}
  </section>
{% endfor %}
