// Variables

// $header-highlight: #214247;
// $brand-primary: #0085A1;
$brand-dark: #214247;
$brand-primary: #33707D;
$gray-dark: lighten(black, 25%);
$gray: lighten(black, 50%);
$white-faded: fade-out(white, .2);
$gray-light: #eee;
